<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <title>Git</title>
	{% load static %}
	<link rel="stylesheet" href="{%static 'core/css/diseño1.css' %}">
    <link rel="stylesheet" href="{%static 'core/css/menuodonto.css' %}">


</head>
<body>

<h1>Taller#1_TEMA: GIT-GITHUB</h1>


<nav class="menuCSS3">
		<ul>
			<li><a href="{% url 'core' %}">INICIO</a>
			<li><a href="{% url 'hijo' %}">HERENCIA</a>
		</ul>
</nav>

<img src="{%static 'core/img/logo.jpg' %}" >
</body>
</html>